body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

nav {
    margin: 10px 0;
}

.logo h1 {
    color: rgb(32, 160, 32);
    margin: 0;
}

.navbar {
    display: flex;
}

.aboutt {
    color: rgb(172, 171, 171);
    margin-top: 0;
    margin-left: 20px
}

.navbar a {
    color: rgb(32, 160, 32);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.log-waste {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.log-waste:hover {
    background-color: #FF4500;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
}

.subhead {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1300px;
}

.about-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.about-content img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 8px;
    margin-left: 300px;
}

.text {
    max-width: 700px;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}