body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-left: 25px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

nav {
    margin: 10px 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); 
    color: rgb(2, 2, 2);
    padding: 15px 20px;
    z-index: 1;
}


.logo h1 {
    color: rgb(0, 0, 0);
    margin: 0;
}

.cart-link img {
    width: 40px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    margin-left: 1300px;
    margin-top: 20px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: right;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.log-waste {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.log-waste:hover {
    background-color: #FF4500;
}

.header-background {
    position: relative;
    height: 600px;
    background-image: url('bgbg.jfif');
    background-size: cover;
    background-position: center;
    opacity: 10;
}

nav a:hover {
    text-decoration: underline;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 75px;
    column-gap: 25px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 230px;
}

.product-item img {
    max-width: 100%;
}

.additional-info {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}